body{
    text-align: center;
}
.container{
    text-align: center;
}
.logs{
    margin-left: 500px;
}
table{
    border: 2 solid black;

}

.box{
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px black solid;
}
.red{
    background-color: red;
    
}
.white{
    background-color: white;

}
